PORT=8000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/blueprint
CORS_ORIGIN=http://localhost:3000
FRONTEND_URL=http://localhost:3000
APP_VERSION=1.0.0
CF_R2_ACCESS_KEY=test_access_key
CF_R2_SECRET_KEY=test_secret_key
CF_R2_TOKEN_KEY=test_token_key
CF_R2_ACCOUNT_ID=test_account_id
CF_R2_BUCKET=test_bucket
CF_R2_PUBLIC_BASE_URL=test_public_base_url
